
{{ motd }}
Admin email: {{ admin_email }}
Custom Services/Ports
{% for aplone in playbook_plones %}
{{ aplone.plone_instance_name|default(plone_instance_name) }}: {{ plone_config.plone_target_path|default(plone_target_path) }}/{{ plone_config.plone_instance_name|default(plone_instance_name) }}
{% for webserver in aplone.webserver_virtualhosts %}
    {{ webserver.zodb_path }}: {{ webserver.hostname }} {{ webserver.aliases|default([]) }}
{% endfor %}
    zeo server: 127.0.0.1:{{ aplone.plone_zeo_port|default(plone_zeo_port) }}
{% if install_loadbalancer %}
    haproxy front end: {{ aplone.loadbalancer_port|default(loadbalancer_port) }}
{% endif %}
    zeo clients: {% for client in range(0, aplone.plone_client_count|default(plone_client_count)|int) %}127.0.0.1:{{ plone_client_base_port|default(plone_client_base_port)|int + client}} {% endfor %}

{% endfor %}
{% if install_loadbalancer %}
haproxy monitor: 127.0.0.1:{{ loadbalancer_monitor_port }}
{% endif %}
{% if install_proxycache %}
varnish: 127.0.0.1:{{ proxycache_port }}
varnish admin: 127.0.0.1:{{ proxycache_port + 1 }}
{% endif %}
{% if install_muninnode %}
munin-node: {{ munin_node_port }}
{% endif %}
{% if install_mailserver %}
postfix: 25 (host-only)
{% endif %}
{% if install_webserver %}
nginx:
{% for aplone in playbook_plones %}
{% for item in aplone.webserver_virtualhosts %}
- {{ item.hostname }}: {% if item.get('protocol', 'http') == 'https' %}{{ item.address|default('*') }}:{{ item.port|default('443') }}{% else %}{{ item.address|default('*') }}:{{ item.port|default('80') }}{% endif %}

{% endfor %}
{% endfor %}
{% endif %}
