---

# if wheezy, we're going to need backports
- name: Add wheezy-backports repo
  apt_repository: repo='deb http://http.debian.net/debian wheezy-backports main' state=present
  when: ansible_distribution_release == "wheezy"

- name: haproxy installed - Debian
  when: ansible_os_family == 'Debian'
  apt: pkg=haproxy state=present

- name: haproxy installed - CentOS
  when: ansible_os_family == 'RedHat'
  yum: name=haproxy state=present

- name: haproxy enabled - Debian
  when: ansible_os_family == 'Debian'
  copy:
    src=haproxy_enabled
    dest=/etc/default/haproxy
    owner=root
    group=root
    mode=644

- name: haproxy enabled - CentOS
  service:
    name=haproxy
    enabled=yes
  when: ansible_os_family == 'RedHat'

- name: haproxy config
  template:
    src=haproxy.cfg.j2
    dest=/etc/haproxy/haproxy.cfg
    owner=root
    group=root
    mode=644
    backup=true
  sudo: yes

- name: haproxy started
  service: name=haproxy state=started

- name: reload haproxy
  service: name=haproxy state=reloaded
