global
    log /dev/log   syslog notice
    maxconn 24000
    #chroot /usr/share/haproxy
    user haproxy
    group haproxy
    daemon
    stats socket /var/run/haproxy.sock mode 600 level admin
    #debug
    #quiet

defaults
    log     global
    mode    http

    option  httplog
    option  dontlognull

    retries 3
    option redispatch

    option httpclose
    option abortonclose

    maxconn 2000
    timeout connect 7s
    timeout queue   30s
    timeout client  300s
    timeout server  300s

listen admin
    bind *:{{ loadbalancer_monitor_port }}
    stats enable
    stats uri /admin
    # We're only connecting via ssh
    # stats auth haproxy:{{ admin_secret|default('notsosecret') }}

{% for front_end in playbook_plones %}
listen {{ front_end.plone_instance_name|default(plone_instance_name) }}

{% if front_end.get('loadbalancer_healthcheck', loadbalancer_healthcheck) %}
{% if haproxy_version >= '1.5.0' and front_end.plone_client_tcpcheck|default(plone_client_tcpcheck|default(false)) %}
    option tcp-check
    tcp-check send quit\n
{% else %}
{% if front_end.plone_python_version|default(plone_python_version) == '2.7' %}
    option httpchk
{% else %}
    # waitress does not support more efficient http methods
    option httpchk GET /
{% endif %}
{% endif %}
{% endif %}

    bind *:{{ front_end.loadbalancer_port|default(loadbalancer_port) }}
    default-server {{ front_end.loadbalancer_options|default(loadbalancer_options) }}
    {% if front_end.loadbalancer_listen_extra|default(loadbalancer_listen_extra|default(False)) %}
        {{ front_end.loadbalancer_listen_extra|default(loadbalancer_listen_extra) }}
    {% endif %}

{% for client in range(0, front_end.plone_client_count|default(plone_client_count)|int) %}
{%if haproxy_version >= '1.5.0' and front_end.plone_client_tcpcheck|default(plone_client_tcpcheck|default()) %}
    server client{{ client + 1 }} 127.0.0.1:{{ "%s" % (front_end.plone_client_base_port|default(plone_client_base_port)|int + client) }} {% if front_end.get('loadbalancer_healthcheck', loadbalancer_healthcheck) %}check port {{ "%s" % (front_end.plone_client_base_tcpcheck_port|default(front_end.plone_client_base_port|default(plone_client_base_port)|int + 100)|int + client) }}{% endif %}
{% else %}
    server client{{ client + 1 }} 127.0.0.1:{{ "%s" % (front_end.plone_client_base_port|default(plone_client_base_port)|int + client) }} {% if front_end.get('loadbalancer_healthcheck', loadbalancer_healthcheck) %}check{% endif %}
{% endif %}

{% endfor %}

{% endfor %}
