---

- include: "{{ ansible_os_family }}.yml"

- name: Configure munin-node
  template:
    src=munin-node.conf.j2
    dest=/etc/munin/munin-node.conf
    owner=root
    group=root
    mode=644
  notify: restart munin-node

- name: Add custom plonezope monitor
  copy:
    src=monitors/plonezope_res
    dest=/etc/munin/plugins/
    mode=0755
  notify: restart munin-node

- name: Add custom nginx monitor
  copy:
    src=monitors/nginx_error
    dest=/etc/munin/plugins/
    mode=0755
  notify: restart munin-node

- name: Deactivate unneeded monitors
  file:
    path="/etc/munin/plugins/{{ item }}"
    state=absent
  with_items:
    - nfs4_client
    - nfs_client
    - nfsd
    - nfsd4
    - ntp_kernel_err
    - ntp_kernel_pll_freq
    - ntp_kernel_pll_off
    - ntp_offset
    - if_dummy0
    - if_err_dummy0
    - if_err_eth0
    - if_err_gre0
    - if_err_gretap0
    - if_err_ip6gre0
    - if_err_ip6tnl0
    - if_err_ip6_vti0
    - if_err_ip_vti0
    - if_err_teql0
    - if_err_tunl0
    - if_gre0
    - if_gretap0
    - if_ip6gre0
    - if_ip6tnl0
    - if_ip6_vti0
    - if_ip_vti0
    - if_teql0
    - if_tunl0
    - irqstats
    - users
    - proc_pri
  notify: restart munin-node

- name: Add desired monitors
  file:
    path="/etc/munin/plugins/{{ item }}"
    state=link
    src="/usr/share/munin/plugins/{{ item }}"
  with_items:
    - http_loadtime
    - nginx_request
    - nginx_status
  notify: restart munin-node

- block:
    - name: Add haproxy_ng if available and appropriate
      file:
        path="/etc/munin/plugins/haproxy_ng"
        state=link
        src="/usr/share/munin/plugins/haproxy_ng"
        mode=0755
      notify: restart munin-node
    - name: Add monitor configuration
      copy:
        src=conf/haproxy_ng
        dest=/etc/munin/plugin-conf.d/
        mode=0644
      notify: restart munin-node
  when: install_loadbalancer|default(True)
  ignore_errors: True

- name: Determine varnish version
  shell: '/usr/sbin/varnishd -V 2>&1 | grep varnishd | sed -r "s/.+varnish-([0-9.]+) .+/\1/"'
  register: varnish_version

- block:
    - name: Add base varnish4 monitor if appropriate
      copy:
        src=monitors/varnish4_
        dest=/etc/munin/plugins/varnish4_hit_rate
        mode=0755
      notify: restart munin-node
    - name: Add links for varnish4_ supplementary plugins
      file:
        path="/etc/munin/plugins/varnish4_{{ item }}"
        state=link
        src="/etc/munin/plugins/varnish4_hit_rate"
      with_items:
        - backend_traffic
        - memory_usage
        - request_rate
      notify: restart munin-node
    - name: Add monitor configuration
      copy:
        src=conf/varnish4
        dest=/etc/munin/plugin-conf.d/
        mode=0644
      notify: restart munin-node
  when: install_proxycache|default(True) and varnish_version.stdout >= '4'
  ignore_errors: True

- name: Assure munin running at end of playbook
  command: /bin/true
  notify: munin-node started
