---

- name: Postfix present
  when: ansible_os_family == 'Debian'
  apt: pkg=postfix state=present

- name: Postfix present
  when: ansible_os_family == 'RedHat'
  yum: name=postfix state=present

- name: Enable Postfix to start on boot - CentOS
  service:
    name=postfix
    enabled=yes
  when: ansible_os_family == 'RedHat'

- name: Configure Postfix as forward-only server
  template:
    src=main.cf.j2
    dest=/etc/postfix/main.cf
    owner=root
    group=root
    mode=644
  notify:
  - reload postfix

- name: Set aliases
  template:
    src=aliases
    dest=/etc/aliases
    owner=root
    group=root
    mode=644
  notify:
  - new aliases
