server {
  {% if item.get('protocol', 'http') == 'https' %}
  listen {{ item.address|default('*') }}:{{ item.port|default('443') }};

  ssl on;
  ssl_certificate /etc/nginx/ssl/{{ item.hostname }}.crt;
  ssl_certificate_key /etc/nginx/ssl/{{ item.hostname }}.key;
  ssl_session_timeout 5m;
  ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers "HIGH:!aNULL:!MD5 or HIGH:!aNULL:!MD5:!3DES";
  ssl_prefer_server_ciphers on;
  {% else %}
  listen {{ item.address|default('*') }}:{{ item.port|default('80') }};
  {% endif %}

  server_name {{ item.hostname }} {% for alias in item.get('aliases', []) %}{{ alias }} {% endfor %};

  client_max_body_size {{ item.client_max_body_size|default('2M') }};

  proxy_set_header X-Real-IP $remote_addr;
  # Note that the setting below overrides any pre-existing X-Forwarded-For
  # information. You'll want to change this is you have trustworthy incoming
  # forward information.
  proxy_set_header X-Forwarded-For $remote_addr;

  {% if item.get('zodb_path') != None %}
  location / {
    {% if item.get('protocol', 'http') == 'https' %}
    rewrite ^/(.*)$ /VirtualHostBase/https/{{ item.hostname }}:{{ item.port|default('443') }}{{ item.zodb_path }}/VirtualHostRoot/$1 break;
    {% else %}
    rewrite ^/(.*)$ /VirtualHostBase/http/{{ item.hostname }}:{{ item.port|default('80') }}{{ item.zodb_path }}/VirtualHostRoot/$1 break;
    {% endif %}
    auth_basic off;
    proxy_pass http://localhost:{{ proxycache_port|default('6081') }};
  }
  location ~ /manage_ {
    deny all;
  }
  {% endif %}

  {% if item.get('extra') != None %}
  {{ item.extra }}
  {% endif %}

  {% if item.get('protocol', 'http') == 'http' and (item.hostname == 'localhost' or 'default' in item.get('aliases', [])) %}
  location /nginx_status {
    stub_status on;
    access_log off;
    allow 127.0.0.1;
    deny all;
  }
  {% endif %}

}
