[DEFAULT]
ignoreip = {{ fail2ban_ignoreip }}

bantime: {{ fail2ban_bantime }}
findtime: {{ fail2ban_findtime }}
maxretry: {{ fail2ban_maxretry }}

{% if ansible_os_family == 'RedHat' %}
# Override /etc/fail2ban/jail.d/00-firewalld.conf:
banaction = iptables-multiport
{% endif %}

{% if sshd_check_result.rc == 0 %}
[sshd]
enabled = true
{% else %}
[ssh]
enabled = true
{% endif %}

{{ fail2ban_extra }}
