
{{ motd }}
Admin email: {{ admin_email }}
Custom Services/Ports
    zeo server: 127.0.0.1:{{ plone_zeo_port }}
    zeo Clients: {% for client in range(1, plone_client_count + 1) %}{{ plone_client_base_port + client }} {% endfor %}

{% if install_loadbalancer %}
    haproxy: {{ loadbalancer_port }}
    haproxy monitor: 127.0.0.1:{{ loadbalancer_monitor_port }}
{% endif %}
{% if install_proxycache %}
    varnish: 127.0.0.1:{{ proxycache_port }}
    varnish admin: 127.0.0.1:{{ proxycache_port + 1 }}
{% endif %}
{% if install_muninnode %}
    munin-node: {{ munin_node_port }}
{% endif %}
{% if install_mailserver %}
    postfix: 25 (host-only)
{% endif %}
{% if install_webserver %}
    nginx: {% for item in webserver_virtualhosts %}{% if item.get('protocol', 'http') == 'https' %}{{ item.address|default('*') }}:{{ item.port|default('443') }}{% else %}{{ item.address|default('*') }}:{{ item.port|default('80') }}{% endif %} {% endfor %}
{% endif %}

