{% for backend in playbook_plones %}
backend {{ backend.plone_instance_name|default(plone_instance_name) }} {
	.host = "127.0.0.1";
	.port = "{{ backend.loadbalancer_port|default(loadbalancer_port) }}";
}
{% endfor %}

acl purge {
	"localhost";
}

sub vcl_recv {

{% if playbook_plones|length > 1 %}
{% for backend in playbook_plones %}
{% for site in backend.webserver_virtualhosts|default([{'hostname':'default'}]) %}
    if (req.url ~ "/{{ site.hostname }}:80/") {
        set req.backend = {{ backend.plone_instance_name|default(plone_instance_name) }};
    }
{% endfor %}
{% endfor %}
    else {
        set req.backend = {{ playbook_plones[0].plone_instance_name|default(plone_instance_name) }};
    }
{% endif %}

    # Sanitize compression handling
    if (req.http.Accept-Encoding) {
        if (req.url ~ "\.{{ nocompress_ext }}$") {
            # No point in compressing these
            remove req.http.Accept-Encoding;
        } elsif (req.http.Accept-Encoding ~ "gzip") {
            set req.http.Accept-Encoding = "gzip";
        } elsif (req.http.Accept-Encoding ~ "deflate" && req.http.user-agent !~ "MSIE") {
            set req.http.Accept-Encoding = "deflate";
        } else {
            # unknown algorithm
            remove req.http.Accept-Encoding;
        }
    }

    # Handle special requests
    if (req.request != "GET" && req.request != "HEAD") {
       # POST - Logins and edits
       if (req.request == "POST") {
           return(pass);
       }
       # PURGE - The CacheFu product can invalidate updated URLs
       if (req.request == "PURGE") {
           if (!client.ip ~ purge) {
               error 405 "Not allowed.";
           }
           return(lookup);
       }
    }

    # Do not cache the creation of objects in Plone
    if (req.url ~ "createObject"){
        return(pass);
    }

    # Don't allow basic auth via this route.
    # If you want to login at the Zope root, use an ssh tunnel.
    if (req.http.Authorization) {
        unset req.http.Authorization;
    }

    # Sanitize cookies so they do not needlessly destroy cacheability for anonymous pages
    if (req.http.Cookie) {
        set req.http.Cookie = ";" + req.http.Cookie;
        set req.http.Cookie = regsuball(req.http.Cookie, "; +", ";");
        set req.http.Cookie = regsuball(req.http.Cookie, ";{{ cache_sanitize_cookie_exceptions }}=", "; \1=");
        set req.http.Cookie = regsuball(req.http.Cookie, ";[^ ][^;]*", "");
        set req.http.Cookie = regsuball(req.http.Cookie, "^[; ]+|[; ]+$", "");

        if (req.http.Cookie == "") {
            unset req.http.Cookie;
        }
    }

    # Annotate request with X-Anonymous header if anonymous
    if (!(req.http.Cookie && req.http.Cookie ~ "{{ nonanonymous_cookies }}=")) {
        set req.http.X-Anonymous = "True";
    }

   # The default vcl_recv is used from here.
}

sub vcl_deliver {
    if (obj.hits > 0) {
        set resp.http.X-Varnish-Cache = "HIT";
    }
    else {
        set resp.http.X-Varnish-Cache = "MISS";
    }
}

sub vcl_fetch {
    # Don't allow static files to set cookies.
    # (?i) denotes case insensitive in PCRE (perl compatible regular expressions).
    # make sure you edit both and keep them equal.
    if (req.url ~ "(?i)\.{{ no_response_cookie_ext }}(\?.*)?$") {
      unset beresp.http.set-cookie;
    }

    # Allow items to be stale if needed.
    #set beresp.grace = 6h;
}

# Do the PURGE thing
sub vcl_hit {
    if (req.request == "PURGE") {
        purge;
        error 200 "Purged";
    }
}
sub vcl_miss {
    if (req.request == "PURGE") {
        purge;
        error 200 "Purged";
    }
}
